<!-- navbar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" routerLink="/">Notifications Test</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar" *ngIf="userService.IsAuthenticated()">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLink="/dashboard" routerLinkActive="active">
        <a class="nav-link">Notifications</a>
      </li>
      <li class="nav-item" routerLink="/notification/new" routerLinkActive="active">
        <a class="nav-link">Create New</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link">Welcome {{userService.Get().FullName}}!</a>
      </li>
      <li class="nav-item" routerLink="/login" routerLinkActive="active">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<!-- alert component -->
<app-alert></app-alert>

<!-- router navigation -->
<router-outlet></router-outlet>

<!-- notifications component -->
<app-notification *ngIf="userService.IsAuthenticated()"></app-notification>
