<!-- page title -->
<app-page-title [title]="'Create New Notification'"></app-page-title>

<!-- form for creating new notification -->
<form [formGroup]="notificationForm" (ngSubmit)="onSubmit()">
  <div class="container-fluid">
    <div class="form-group row">
      <label class="col-sm-2 text-right" for="header">Header</label>
      <div class="col-sm-6">
        <!-- field for notification header -->
        <input type="text" formControlName="header" placeholder="Enter Header" id="header" class="form-control form-control-sm" autocomplete="off" />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 text-right" for="body">Body</label>
      <div class="col-sm-6">
        <!-- field for notification body -->
        <textarea  formControlName="body" placeholder="Enter Body" id="body" class="form-control form-control-sm"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 text-right" for="category">Category</label>
      <div class="col-sm-2">
        <!-- selection for notification category -->
        <select formControlName="category" class="form-control form-control-sm" id="category">
          <option *ngFor="let category of this.getCategories()" [value]="category">
            {{category}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 text-right" for="category"></label>
      <!-- button for notification submission and control -->
      <div class="col-sm-6">
        <button type="button" class="btn btn-sm btn-primary" (click)="onSubmit(true)">Notify</button>
        <button type="submit" class="btn btn-sm btn-outline-primary ml-2">Notify & go back</button>
        <button type="button" class="btn btn-sm btn-outline-secondary ml-2" (click)="location.back()">Go Back</button>
      </div>
    </div>

  </div>
</form>
