<!-- this contains all the notifications in real time -->
<div class="notification-container">
  <!-- iterate on available notifications -->
  <div *ngFor="let notification of getNotifications()">
    <!-- do not show notification if its closed in the UI -->
    <ng-container *ngIf="!notification.IsClosed">
      <!-- create alert UI for notification. Attach events for updating on UI close -->
      <ngb-alert [type]="helper.getDisplayType(notification.Category)" (close)="close(notification)">
        <strong>{{notification.Header}}</strong>
        <p class="m-0">{{ notification.Body }}</p>
      </ngb-alert>
    </ng-container>
  </div>
  <!-- show a group notification if more than 5 notifications available -->
  <ngb-alert type="primary" [dismissible]="false" *ngIf="showMoreNotification()">
    <p class="m-0">You have more notifications</p>
  </ngb-alert>
</div>
