<!-- create page title -->
<app-page-title [title]="'Notifications'"></app-page-title>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" id="DashboardAccordion">

      <!-- show user friendly message if no notification exists -->
      <p class="mb-0 text-center font-italic" *ngIf="notificationService.notificationsList.length === 0">Looks like there's no notification here! Why not <a routerLink="/notification/new">Create New</a>?</p>

      <!-- every notification is shown as a part of bootstrap accordion -->
      <ngb-accordion [closeOthers]="true" activeIds="static-1">

        <!-- each notification is a bootstrap panel -->
        <ngb-panel *ngFor="let notification of notificationService.notificationsList" [type]="helper.getDisplayType(notification.Category)">
          <ng-template ngbPanelHeader>
            <div class="d-flex align-items-center justify-content-between">

              <!-- notification heading -->
              <h5 class="mb-0"><button ngbPanelToggle class="btn btn-default text-left pl-0 text-white notif-heading font-weight-bold">{{notification.Header}}</button></h5>

              <!-- controls for notification -->
              <div>
                <button ngbPanelToggle class="btn btn-sm btn-outline-light">Open</button>
                <a class="btn btn-sm btn-outline-light ml-2" routerLink="/notification/{{notification._id}}">Edit</a>
                <a class="btn btn-sm btn-outline-light ml-2" routerLink="/dashboard" (click)="delete(notification)">Delete</a>
              </div>

            </div>
          </ng-template>

          <!-- notification body -->
          <ng-template ngbPanelContent>
            <p class="mb-0">{{notification.Body}}</p>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>

