<!-- title of page -->
<app-page-title [title]="'Login'"></app-page-title>

<div class="login-container text-center">
  <!-- form for login submission -->
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" placeholder="Username" id="username" class="form-control form-control-sm text-center" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" placeholder="Password" id="password" class="form-control form-control-sm text-center" autocomplete="off" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a routerLink="/register" class="ml-3" (click)="alertService.reset()">Register</a>
  </form>
</div>
