/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nav-link {
  cursor: pointer;
}
.nav-link:focus {
  box-shadow: none;
}

#DashboardAccordion .card .card-header {
  padding: 0.3rem 1rem;
}

#DashboardAccordion .card .card-body {
  padding: 1rem 1rem;
}

.notification-container .alert .close {
  padding: 0.2rem;
}

.notification-container .alert .close:hover {
  color: white;
}
